.section-title.title-left::after {
  left: -55px;
  right: unset;
}

.section-title.title-left {
  margin-left: 55px;
}
.card {
  border-radius: 12px;
  overflow: hidden;
}
.card > * {
  transition: transform 0.5s ease-in-out;
}
.card:hover > * {
  transform: scale(1.1);
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}
