.section-title.title-left::after {
  left: -55px;
  right: unset;
}

.section-title.title-left {
  margin-left: 55px;
}
.card {
  border-radius: 12px;
  overflow: hidden;
}
.card > * {
  transition: transform 0.5s ease-in-out;
}
.card:hover > * {
  transform: scale(1.1);
}
.cards {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 20px;
}
@media screen and (min-width: 992px) {
  .cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.parallelogram {
  border-radius: 20% 15% 20% 15% / 50% 25% 50% 25%;
}

.service-item .service-icon {
  border-radius: 10px;
}
.service-item .service-icon > div {
  border-radius: 5px;
}
.service-item {
  transition: transform 0.3s ease-in-out;
}
.service-item:hover > * {
  transform: scale(1.1);
}

/*-------------------------------------
        11. Blog
--------------------------------------*/
.blog {
  /* background: #fff; */
  padding: 115px 0 0px;
}

/*blog-content*/
.blog-content {
  margin-top: 66px;
}
.blog-content > .thumbnail {
}
.blog-content .thumbnail {
  background: transparent;
  border: transparent;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-radius: 20px;
  overflow: hidden;
}
.blog-content .thumbnail:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.thumbnail h2 {
  padding: 25px 0 25px 20px;
  color: #565a5c;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.thumbnail span {
  color: #aaa;
  font-size: 14px;
  font-weight: normal;
  padding-left: 25px;
  font-family: "Poppins", sans-serif;
}

/*.thumbnail-img*/
.thumbnail-img {
  position: relative;
  overflow: hidden;
}

.blog-content .thumbnail .thumbnail-img img {
  max-width: 100%;
  /* margin-left: -4px; */
}
.thumbnail-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.blog-content .thumbnail:hover .thumbnail-img-overlay {
  opacity: 1;
} /*.thumbnail-img*/

/*.caption*/
.blog-content .caption {
  background: #fff;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding-bottom: 20px;
}
.blog-content .thumbnail:hover .caption {
  border: transparent;
}
.blog-txt {
  padding-top: 8px;
  padding-left: 12px;
  padding-right: 12px;
}
.blog-content .caption .blog-txt h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--primary);
}
.blog-content .caption .blog-txt h3 a {
  color: var(--primary);
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-top: 15px;
  padding-bottom: 3px;
  min-height: 63px;
  line-height: 2;
}
.blog-content .caption .blog-txt p {
  color: #aaaaaa;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  min-height: 105px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-transform: ellipsis;
}
.blog-content .caption .blog-txt a {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: var(--primary);
  padding-bottom: 12px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
} /*.caption*/

.blog-content .thumbnail:hover img {
  transform: scale(1.2);
}
.blog-content .thumbnail img {
  transition: transform 0.3s ease-in-out;
}
/*blog-content*/

/*-------------------------------------
        11. FAQs
--------------------------------------*/
/* .accordion-button {
  border: none;
} */
